@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', Arial;
    margin: 0;
    background: #FAFAFA;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px; 
    border-bottom: 1px solid #B8B6BF;
}

#menu {
    display: flex;
    gap: 16px;
    list-style: none;
}

#menu a {
    color: #090021;
    text-decoration: none;
}

section#concepts, #languages, #tools {
    margin: 86px 16px;
    max-width: 960px;
    margin: auto;
    width: 100%;
}

.card {
    border: 1px solid #F5F5F5;
    padding: 16px 16px 8px 16px;
    border-radius: 8px;
    background: #FFFFFF;
}

.flex-concepts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#concepts .card {
    width: calc(50% - 8px);
    box-sizing: border-box;
}

.title-definition {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.title-definition h4 {
    margin: 0;
    font-weight: 400;
}

.languages-content {
    display: flex;
    gap: 16px;
}

.language-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-title img {
    max-width: 51px;
    max-height: 51px;
}

#languages .card {
    width: 228px;
    box-sizing: border-box;
    flex-shrink: 0;
}

#tools .card {
    padding-left: 45px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


header {
    background: #137160;
    color: #F8F8F8;
    padding: 100px 32px 8px 32px;
}

.header-content {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

.course-image {
    max-width: 100%;
}

h1 {
    font-size: 32px;
}

header p {
    font-size: 22px;
    padding-bottom: 84px;
}

h2 {
    font-size: 25px;
}

@media (max-width: 768px)
{
    #concepts .card {
        width: 100%;
    }

    #concepts, #languages, #tools {
        width: calc(100% - 16px);
    }

    .flex-languages .card {
        width: calc(50% - 8px);
        box-sizing: border-box;
    }

    .languages-content {
        flex-wrap: wrap;
    }

    #menu {
        padding-left: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/** AJOUT CSS POUR LES DROPDOWNS ET LE SLIDER */
.content-definition {
    display: none;
    font-size: 14px;
}

.open .content-definition {
    display: block;
}

.title-definition {
    cursor: pointer;
}

.slider-arrows {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.flex-languages {
    overflow: hidden;
}

.languages-content {
    transition: all 0.5s;
}
